<div class="container">
  <div class="page-header">
    <h1>Incy Wincy <small>the Web Crawler</small></h1>
  </div>
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <%= bootstrap_form_for @page do |f| %>
        <!-- <%= f.label :URL %> -->
        <%= f.text_field :url %>
        <%= f.submit %>
        <% end %>

      <% if @results %>
        <ol>
          <% @results.each do |result| %>
          <li>
            <%= result.url %>
          </li>
          <% end %>
        </ol>
      <% end %>
    </div>
  </div>
</div>
